body {
  background-color: yellow;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
}

.div1 {
  background-color: red;
  padding: 20px;
  border-radius: 5px 40px;
  text-align: center;
  width: 600px;
  width: 90%;
}

h1{
  font-size: 3em;
}

h2 {
  color: white;
}

.joke {
  font-size: 24px;
  margin: 10px auto;
}

.btn {
  background-color:black;
  color: #fff;
  border-style: hidden;
  border-radius: 5px 40px;
  padding: 20px 40px;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover{
  background-color: yellow;
  color: black;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  body{
    height: 100vh;
  }
  .div1 {
    padding: 10px;
  }

  h1 {
    font-size: 2em;
  }

  .joke {
    font-size: 20px;
    margin: 5px auto;
  }

  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
}